# GPT
openai==0.27.8

# STT
SpeechRecognition==3.9.0
openai-whisper @ git+https://github.com/openai/whisper.git

# PyTorch CPU
torch==2.10.0

# TTS
pyttsx3==2.90

# Audio input
pyaudio==0.2.13

# Utilities
tqdm==4.67.3
